:root{
    --lavendar: hsla(263, 25%, 55%, 0.502);
    --lavender-dark: #5A639C;
    --lavender-dark-hover: #5A639C;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.home-header{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.26);
}
.header-leftarea{
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-leftarea span{
    font-weight: 600;
    font-size: 30px;
}
.container-fluid{
    background-color: white;
    font-size: 20px;
}
.dropdown-flex{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-nav .nav-item{
    font-size: 17px;
}
.navbar-nav .nav-item input{
    background-color: var(--lavender-dark);
    width: 100%;
}
.navbar-nav .nav-item input:hover{
    background-color: var(--lavender-dark-hover);
    transition: .4s linear;
}
.navbar-nav .nav-item .log-item{
    background-color: var(--lavender-dark);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.logout-item{
    opacity: .5;
    text-decoration: none;
    color: black;
}
.navbar-nav .nav-item .log-item:hover{
    background-color: var(--lavender-dark-hover);
    text-decoration: none;
    transition: .4s linear;
}
#loginButton{
    background-color: var(--lavender-dark);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.header-leftarea img{
    height: 50px;
    width: 50px;
}
.teamname-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
 }
.result-tg-t{
    width: calc(50% - 20px);
    background-color: var(--lavender);
    border-radius: 10px;
    overflow: hidden;
}
.result-tg-t-title{
    background-color: var(--lavender-dark);
    border-radius: 5px 5px 0 0;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}
.result-tg-t-title p{
    margin-bottom: 0;
    padding: 10px 0 10px 0;
}
.result-tg-t-teamleader{
    background-color: #C1C1C1;
    padding: 10px 0px 10px 0px;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.result-tg-t-teamleader p{
    margin-bottom: 0;
}
.result-tg-t-members{
    background-color: white;
    min-height: 5rem;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.result-tg-t-members ol{
    padding-top: 10px;
    margin: 0;
    padding: 0;
}
.result-tg-t ol{
    justify-content: space-around;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 15px 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 0px 0px 8px 8px;
    font-size: 1.1rem;
}
.result-tg-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.result-tg-container2 a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #5a639c;
}

.result-tg-container2-icon{
    color: #5A639C;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.feedback-area{
    background-color: var(--lavender-dark);
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
    border-radius: 10px;
}
.feedback-area h2{
    margin-bottom: 50px;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
}
.feedback-form{
    width: 100%;
    margin-bottom: 50px;
}
.feedback-submit-btn{
    display: flex;
    justify-content: center;
}
.tg-feedback-btn{
    background-color: #9B86BD; 
    color: white; 
    border: none; 
    border-radius: 4px;
    transition: background-color 0.4s, color 0.4s; 
    padding: 10px 44px;
    font-size: 24px;
    font-weight: bold;
}
.tg-feedback-btn:hover {
    background-color: #9d6deb; 
    color: white; 
}
/* footer area */
footer{
    width: 100%;
    background-color: var(--lavender-dark);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
footer .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-leftarea img{
    margin-top: 30px;
    height: 70px;
    width: 70px;
}

.social-icons-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    padding-top: 20px;
    font-size: 30px;
}

.three-spacing{
    width: 200px;
}
.three-spacing button{
    display: flex;
    align-items: center;
    gap: 7px;
}
.three-spacing button i{
    font-size: 30px;
}
.sub-footer{
    width: 100%;
    height: 35px;
    margin-top: 40px;
    background-color: var(--lavender-dark);
}
.sub-footer span{
    color: white;
    opacity: .6;
}

.generated-project-name{
    color: var(--lavender-dark-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.generated-project-name #project-name-heading{
    font-weight: 600;
    font-size: 3.2rem;
    text-transform: uppercase;
}
#drag-drop{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#drag-drop .drag-alert{
    font-weight: 600;
    font-size: 1.4rem;
}