@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{--lavendar: hsla(263, 25%, 55%, 0.502) ;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.home-header{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.26);
}
.header-leftarea{
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-leftarea span{
    font-weight: 600;
    font-size: 30px;
}
.container-fluid{
    background-color: white;
    font-size: 20px;
}
.dropdown-flex{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-nav .nav-item{
    font-size: 17px;
}
.navbar-nav .nav-item .log-item{
    background-color: #5A639C;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    width: 100%;
}
.navbar-nav .nav-item .logout-item{
    color: black;
    text-decoration: none;
    opacity: .5;
}

.navbar-nav .nav-item .log-item:hover{
    background-color: #313c82;
    text-decoration: none;
    transition: .4s linear;
}
.header-leftarea img{
    height: 50px;
    width: 50px;
}

.history-container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px 0px 50px;
}
.history-container .history-container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history-container .history-container-item h5{
    font-size: 1.6rem;
}
.teamname-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}
.result-tg-container1{
    background-color: var(--lavendar);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 5rem;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 2rem;
    border-radius: 10px;
}

.result-tg-t{
    display: flex;
    flex-direction: column;
    width: auto;
}

.result-tg-t-title{
     background-color: #5A639C;
     border-radius: 5px 5px 0 0;
     height: 5rem;
     width: 35rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: white;
     
}
.result-tg-t-teamleader{
    background-color: #C1C1C1;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-tg-t-members{
    background-color: white;
    min-height: 5rem;
    text-align: center;
    width: 35rem;
    border-radius: 0 0 5px 5px;
}
.result-tg-t-members ol{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;
    
}


.result-tg-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.result-tg-container2-icon{
    color: #5A639C;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/* footer area */
footer{
    width: 100%;
    /* height: 120px; */
    background-color: #5A639C;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
footer .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-leftarea img{
    margin-top: 30px;
    height: 70px;
    width: 70px;
}

.social-icons-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    padding-top: 20px;
    font-size: 30px;
}

.three-spacing{
    width: 200px;
}
.three-spacing button{
    display: flex;
    align-items: center;
    gap: 7px;
}
.three-spacing button i{
    font-size: 30px;
}
.sub-footer{
    width: 100%;
    height: 35px;
    margin-top: 40px;
    background-color: #5A639C; 
}
.sub-footer span{
    color: white;
    opacity: .6;
}
.form-label{
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
    
}
input[type=file]{
    color: black;
}
input[type=file]:hover{
    color: black;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #42497b;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #9B86BD;
  }