@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.home-header{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.26);
}
.header-leftarea{
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-leftarea span{
    font-weight: 600;
    font-size: 30px;
}
.container-fluid{
    background-color: white;
    font-size: 20px;
}
.dropdown-flex{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-nav .nav-item{
    font-size: 17px;
}
.navbar-nav .nav-item .log-item{
    text-decoration: none;
    width: 100%;
    color: black;
    opacity: .5;
}
.header-leftarea img{
    height: 50px;
    width: 50px;
}
.table-box{
    margin-top: 50px;
}
.group{
    margin-bottom: 100px;
}
.table-row{
    display: table;
    width: 80%;
    margin-left: 120px;
    font-family: "Inter", sans-serif;
    background: transparent;
    padding: 19px 0;
    color: #555;
    font-size: 13px;
    
    
}

.table-cell{
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    vertical-align: middle;
}

.group{    
    background-color: #9B86BD80;
    width: 80%;
    margin-left: 120px  ;
    padding-bottom: 100px ;
}

.side{
    margin-right: -100px;
}

.side1{
    margin-left: -170px;
}


/* footer area */
footer{
    width: 100%;
    /* height: 120px; */
    background-color: #5A639C;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
footer .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-leftarea img{
    margin-top: 30px;
    height: 70px;
    width: 70px;
}

.social-icons-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    padding-top: 20px;
    font-size: 30px;
}

.three-spacing{
    width: 200px;
}
.three-spacing button{
    display: flex;
    align-items: center;
    gap: 7px;
}
.three-spacing button i{
    font-size: 30px;
}
.sub-footer{
    width: 100%;
    height: 35px;
    margin-top: 40px;
    background-color: #5A639C; 
}
.sub-footer span{
    color: white;
    opacity: .6;
}