body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* padding: 100px;
    border-radius: 10px; */
}
 
.home-header{
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    width: 100%;
    height: 6.3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.header-leftarea{
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-leftarea img{
    height: 100px;
    width: 100px;
}
.header-leftarea span{
    font-weight: 600;
    font-size: 30px;
}
.container-fluid{
    background-color: white;
    font-size: 20px;
}
.dropdown-flex{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    gap: 20px;
}
 
#container {
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    /* background: #FC466B;
    background: -webkit-linear-gradient(to right, #FC466B, #3F5EFB);
    background: linear-gradient(to right, #FC466B, #3F5EFB); */
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 70px;
}
#container img{
    width: 550px;
    height: 500px;
    border-radius: 10px;
}
#output{
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
}
 
#teamForm input{
    width: 100%;
}
#container-inputfields{
    padding-left: 100px;
}
.label-title{
    font-size: 22px;
    font-weight: bold;
}
.upload-manual{
    margin: 15px 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.upload-manual input{
    height: 17px;
    
}
.upload-manual label{
    font-size: 20px;
    width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
 
form {
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}
 
label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
.radio-field{
    display: flex;
    width: 100%;
}
 
input[type="number"],
input[type="text"] {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 
input[type="file"] {
    margin-top: 10px;
}
 
button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #AD50A7;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: .5s linear;
    color: white;
    letter-spacing: .3px;
    width: 100%;
    font-size: 20px;
}

 
button[type="submit"]:hover {
    background-color: #3f59d8;
    color: white;
    transform: scale(1.05);
}
#output {
    
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
}
.team p{
    margin-top: 20px;
    font-size: 22px;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    margin-right: 25px;
}
 
.team {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: .34s linear;
    }
    .team:hover {
    box-shadow: 2px 2px 5px blue;
    transform: scale(1.05);
}
    
.team h3 {
    margin-top: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
 
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
 
th {
    background-color: #f2f2f2;
}
#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}
.team h3 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
}
.feedback-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 50px;
}

.rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
 
.star {
    font-size: 24px;
    cursor: pointer;
}

textarea {
    
    margin:0 auto;
    width:100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submitbtn {
    margin: 0 auto;
    background: #c95fc2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 30%;
    margin-top: 10px;
}

.submitbtn:hover {
    background: #9e4998;
}