body {
  background-color: #f3f3f3;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.image-area {
  background-color: #f3f3f3;
  background: -webkit-linear-gradient(to right, #9b86bd, #f3f3f3);
  background: linear-gradient(to right, #9b86bd, #f3f3f3);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-area img {
  max-width: 60vh;
  height: auto;
  width: 100%;
}

.login-details {
  background-color: #f3f3f3;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-item {
  color: #5a639c;
  font-weight: bolder;
  text-decoration: none;
  justify-content: space-between;
}

.submit-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-here {
  font-size: 40px;
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    justify-content: center;
  }

  .image-area,
  .login-details {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .login-here {
    font-size: 30px;
  }

  .image-area img {
    width: 80%;
    height: auto;
  }

  .login-details {
    padding: 10px;
  }

  .form-group label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  .submit-centre input {
    width: 80px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .login-here {
    font-size: 24px;
  }

  .image-area img {
    width: 70%;
    height: auto;
  }

  .login-details {
    padding: 5px;
  }

  .form-group label {
    font-size: 12px;
  }

  .form-control {
    font-size: 12px;
  }

  .submit-centre input {
    width: 70px;
    font-size: 12px;
  }
}