/* Home */
.home-body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafb;
    overflow-x: hidden;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}


/* Signup */



/* Login */

