/* header area */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.home-header{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.26);
}
.header-leftarea{
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-leftarea span{
    font-weight: 600;
    font-size: 30px;
}
.container-fluid{
    background-color: white;
    font-size: 20px;
}
.dropdown-flex{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-nav .nav-item .log-item{
    text-decoration: none;
    color: black;
    opacity: .5;
}

.header-leftarea img{
    height: 50px;
    width: 50px;
}

/* banner area */
.banner-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.implementation-content{
    padding: 5px 70px;
}

/* Upload and generate buttons */
.upload-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.upload-area input{
    background-color: #5A639C;
}

.generate-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px; 
    padding-bottom: 25px;
}


/* Input areas */
.project-teams-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-teams-area div{
    width: 40%;
}

.parameter-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.parameter-area-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parameter-area h1{
    width: max-content;
    font-size: 1.5rem;
}
.parameter-area input{
    text-align: center;
    width: 100%;
}

.parameter-area div{
    width: 10%;
}

.weightage-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weightage-area div{
    width: 90%;
}
.weightage-area-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weightage-area input{
    width: 90%;
    color: red;
}
/* Apply styles to the slider */
  .weightage-area-form input[type='range']::-webkit-slider-runnable-track{
    height: 20px;
  }

  .weightage-area-form .form-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling for WebKit browsers */
    appearance: none; /* Remove default styling for other browsers */
    width: 30px; /* Width of the slider thumb */
    height: 30px; /* Height of the slider thumb */
    background-color: #5A639C; /* Color of the slider thumb */
    border-radius: 50%; /* Rounded shape for the thumb */
    cursor: pointer; /* Cursor style on hover */
  }
  
  /* Display current slider value */
  #sliderValue {
    margin-top: 10px; /* Spacing between slider and value display */
    text-align: center;
    font-size: 18px; /* Adjust font size */
    color: #5A639C; /* Color of the value display */
  }


.prev-next-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px; 
    padding-bottom: 25px;
}
.prev-next-area input{
    background-color: #5A639C;
    padding: 15px 30px ;
    letter-spacing: 2px;
}
.prev-next-area input:hover{
    background-color: #313c82;
    padding: 15px 30px ;
    letter-spacing: 2px;
}
.generate-area input{
    background-color: #5A639C;
    padding: 15px 30px ;
    letter-spacing: 2px;
}
.generate-area input:hover{
    background-color: #313c82;
}

/* footer area */
footer{
    width: 100%;
    height: 120px;
    background-color: #5A639C;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
footer .footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-leftarea img{
    height: 50px;
    width: 50px;
}

.social-icons-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
}

.three-spacing{
    width: 200px;
}
.sub-footer{
    width: 100%;
    height: 35px;
    background-color: #5A639C; 
}
.form-label{
    font-weight: 500;
    font-size: 20px;
    margin-left: 5px;
    
}
input[type=file]{
    color: black;
}
input[type=file]:hover{
    color: black;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #42497b;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #9B86BD;
  }

